.card-item {
  margin: 1rem 1rem;
  width: 18rem;
}
.card-item-content {
  padding: 0;
  /* height: 10rem; */
  /* background-color: white; */
}
.card-item-image{
  /* text-align: center;
  height: 5rem;
  padding-top: 1.5rem; */
}
.card-item-image img{
  text-align: center;
  height: 12rem;
}

.card-item-title {
 margin-top: 2rem;
 overflow: hidden;
 height: 2.2rem;
 width: 20rem;
}
.card-item-title span {
margin-left: 5rem;
}


.card-item-info {
  padding: .4rem 0;
}
.card-item-info h4 {
  text-align: left;
  margin: 0;
}
.card-item-info h6{
  padding: 0;
  text-align: left;
  margin: 0;
}

.card-item-info p {
  text-align: left;
  margin: 0 0 0 0;
}

.card-item-buttons {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
  font-weight: 700;
  border: none;
  z-index: 100;
}

.card-item-button{
  padding: .72rem;
  margin: 0 1rem;
  background-color: rgb(6, 12, 181);
  color: white;
  border: none;
  border-radius: 3px;
  border: 1px solid transparent; 
}
.card-item-button:hover{
  background-color: white;
  color: rgb(4, 10, 163);
  border: 1px solid rgb(4, 10, 163); 
}

/* Modal */
.modal-item{
  margin:0;
  padding: 0 2rem;
}

.modal-item-image img{
  text-align: center;
  background-size: cover;
  width: 100%;
  height: 12rem;
  background-color:#fafafa;
}

.discount{
  font-size: 1rem;
  font-style: italic;
}


